@model CustomerDevTask.Web.Models.EditableCustomerViewModel
@{ 
    var buttonText = "Cancel";
    var buttonClass = "btn btn-danger";
    if(Model.IsSaved.HasValue && Model.IsSaved.Value)
    {
        buttonText = "Back";
        buttonClass = "btn btn-secondary";

    }
}
@Html.ValidationSummary(true, "", new { @class = "text-danger" })
@Html.HiddenFor(model => model.Id)


@if (Model.IsSaved.HasValue)
{

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            @if (Model.IsSaved.Value)
            {
                <div class="alert alert-success">
                    <strong>Customer Saved</strong>
                </div>
            }
            else
            {
                <div class="alert alert-danger">
                    <strong>Customer not saved, something went wrong</strong>
                </div>
            }

        </div>
    </div>
}

<div class="form-group">
    @Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.Surname, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.Surname, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Surname, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.DateOfBirth, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.DateOfBirth, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.DateOfBirth, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.TelephoneNumber, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.TelephoneNumber, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.TelephoneNumber, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        <input type="submit" value="Save" class="btn btn-success" />
        @Html.ActionLink(buttonText, "List", "Customer", null, new { @class = buttonClass })
    </div>
</div>